.signal {
	position: relative;
	background: #ccc;
	height: 19px;
	width: 19px;
	overflow: hidden;
	.cover {
		position: absolute;
		height: 19px;
		width: 19px;
		z-index: 4;
		background: #55BC52;
	}
	img {
		position: absolute;
		width: auto;
		display: block;
		height: 19px;
		z-index: 6;
	}
}
.table {
	z-index: -1;
	display: block;
	width: 100%;
	margin: 0 auto;
	td {
		display: inline-block;
		color: #999;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
		padding: 4px 0;
	}
	.left {
		// float: left;
		// margin-left: -5px;
	}
	.left2{
		// margin-left: -5px;
	}
	.left3{
		margin-left: 15px;
	}
	tr > td:nth-child(odd) {
		color: #333;
		white-space: nowrap;
	}
	.status {
		color: red;
		width: 90px !important;
		white-space: nowrap;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.pass {
		color: #55BC52;
	}
}
.active {
	color: #D52B2E;
}
.lis{
	background-color: white;
}
.center{
	background-color: white;
	margin-top: 5px;
	text-align: center;
}
.center2{
	text-align: center;
	margin-bottom: 10px;
}
.Button{
	font-size: 16px;
}
.text{
	margin-left: 10px;
	display: inline-block;
	color: #999;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	padding: 4px 0;
	width: 80px !!important;
}
.text2{
	margin-left: 10px;
	display: inline-block;
	color: #999;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	padding: 4px 0;
}
.marginBottom{
	margin-bottom: 5px;
}
