.tbody {
	padding-top: 5px;
	margin-left: -20px;
}
.table {
	display: block;
	width: 100%;
	tbody {
		padding-top: 5px;
		margin-left: -20px;
	}
	td {
		display: inline-block;
		color: #999;
		font-size: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
		padding: 4px 0;
	}
	.text{
		display: inline-block;
		color: #999;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
		padding: 4px 0;
		width: 80px !!important;
	}
	p {
		// display: block;
		color: #999;
		font-size: 15px;
		white-space: nowrap;
		vertical-align: top;
		padding: 4px 0;
		width: 300px;
		overflow: auto;
	}
}
