.content {
  background: #fff;
  position: absolute;
  top: 44px;
  width: 100%;
  bottom: 0;
  z-index: 2;
  padding: 10px 0 10px;
}
.tips {
  color: #D52B2E;
  text-align: left;
  font-size: 12px;
  margin: 16px 0 5px;
}
.table {
  border-collapse:collapse;
  width: 100%;
  td {
    border: 1px solid #888;
    text-align: center;
    padding: 2px 0;
  }
  .desc {
    padding: 4px;
    text-align: left;
  }
  dl {
    margin-bottom: 2px;
  }
  dd {
    padding-left: 2em;
  }
}

.inline {
  margin-bottom: 2px;
  dt, dd {
    display: inline;
    text-align: left;
  }
}
.active {
  color: #fff;
  background-color: #ccc;
  position: relative;
  box-shadow: 1px 1px 4px -1px rgba( 19, 19, 19, .3) inset;
}
.img{
	width:100%;
}
.Button{
  width: 100%;
  margin-top: 5px;
}
.center{
	margin-top: 5px;
	text-align: center;
}
.lis{
  margin-bottom: 50px;
}
